<p>Olá,</p>

<p>Sua integração do Slack expirou. Para continuar recebendo mensagens no Slack, por favor exclua a integração e conecte novamente seu espaço de trabalho.</p>

<p>
Clique <a href="{{action_url}}">aqui</a> para reconectar.
</p>